.main_block {
    max-width: 500px;
    margin: 0px auto;
    padding: 20px;
    h3 {
        margin-bottom: 0px;
    }
    small.sub_title {
        opacity: 0.75;
    }
    .sub_form {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        input {
            margin-right: 5px;
            width: 180%;
        }
        button {
            margin-right: 0px;
            background-color: #00b5ad;
            border-color: #00b5ad;
            width: 120px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .main_block {
        max-width: none;
        width: 100%;
        padding: 0px;
        h3 {
            margin-bottom: 5px;
        }
        .sub_form {
            input {
                width: 150%;
            }
        }
    }
}

@media only screen and (max-width: 414px) {
    .main_block {
        .sub_form {
            display: block;
            margin-top: 15px;
            input {
                width: 100%;
            }
            button {
                width: 100%;
            }
        }
    }
}
