.meta_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    width: 100%;
    h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
    }
    .icons {
        margin-left: -5px;
        .twitter,
        .linkedin {
            font-size: 1.6em;
            padding: 3.5px 4px;
            margin-top: 5px;
            margin-left: 15px;
            border-radius: 2px;
        }
        .twitter {
            background-color: #00acee;
            color: #fff;
        }

        .linkedin {
            background-color: #0e76a8;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 600px) {
    .meta_data {
        display: block;
        h4 {
            width: fit-content;
            margin-top: 7px;
        }
        .icons {
            .twitter,
            .linkedin {
                margin-top: 15px;
            }
        }
    }
}
