@import url("http://fonts.cdnfonts.com/css/sofia-pro");

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: "Sofia Pro", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #40e0d0 !important;
}

.ant-result.ant-result-404 {
    .ant-result-title {
        font-size: 4em;
        font-weight: 600;
    }
}

.ant-spin.ant-spin-lg.ant-spin-spinning {
    margin: 300px 50%;
    width: fit-content;
    span {
        i {
            background-color: #00b5ad;
        }
    }
}

.ant-card.ant-card-bordered.ant-card-hoverable {
    position: relative !important;
    .ant-card-meta-title {
        font-size: 1.3em;
    }
    .ant-card-cover {
        height: 165px;
        overflow: hidden;
    }
    .ant-card-actions {
        position: absolute !important;
        bottom: 0px !important;
        width: 100% !important;
        background-color: inherit;
        color: inherit;
        a:hover {
            color: #40e0d0 !important;
        }
    }
}

.light_mode {
    .ant-card-actions {
        border-top: 1px solid #f0f0f0 !important;
        li:first-child {
            border-right: 1px solid #f0f0f0 !important;
        }
    }
}

.ant-drawer-header-no-title {
    margin-bottom: 50px;
    button {
        background-color: #ff4d4f;
        color: #f4f4f4;
        top: 20px;
        right: 22.5px;
        padding: 5px;
        border-radius: 3px;
        padding-right: 5px !important;
        span {
            font-size: 1em;
            font-weight: 700;
        }
    }
}

.ant-drawer-body {
    a {
        font-size: 1.2em;
        font-weight: 500 !important;
        color: #00b5ad !important;
    }
}

.ant-form-item-required::before {
    display: none !important;
}

.ant-form-item-explain.ant-form-item-explain-error {
    text-align: left;
    font-size: 0.8em;
    font-weight: 300;
    div {
        color: #ff4d4f !important;
    }
}

@media only screen and (max-width: 600px) {
    .ant-spin.ant-spin-lg.ant-spin-spinning {
        margin: 300px 45%;
    }
}
