@import url("http://fonts.cdnfonts.com/css/sofia-pro");

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: "Sofia Pro", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
