.hero_section {
    padding: 150px 0px;
    .flexer {
        display: flex;
        justify-content: space-between;
    }
    .left_content {
        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 2.4em;
        }
        p {
            width: 357px;
            margin-top: 30px;
            margin-bottom: 30px;
            span {
                color: #00b5ad;
            }
            span::before {
                content: "";
                animation: fluctuate infinite 10s;
                //transition: 200ms ease-in-out;
            }
        }
        .__buttons {
            button {
                margin-right: 30px;
            }
            button:first-child {
                background-color: #00b5ad;
                border-color: #00b5ad;
            }
            button:last-child {
                background: #ff4d4f !important;
                border-color: #ff4d4f !important;
            }
        }
    }
}

@keyframes fluctuate {
    0% {
        color: #00b5ad;
        content: "Javascript";
    }
    20% {
        color: #ff4d4f;
        content: "ReactJs";
    }
    40% {
        color: #00b5ad;
        content: "NodeJs";
    }
    60% {
        color: #ff4d4f;
        content: "Express";
    }
    80% {
        color: #00b5ad;
        content: "MongoDB";
    }
    100% {
        color: #ff4d4f;
        content: "Postgres";
    }
}
