.heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 600;
}

.empty_div {
    width: 100px;
    height: 100px;
}

// @media only screen and (max-width: 500px) {
//     .empty_div {
//         height: 0px;
//         display: none;
//     }
// }
